meta(charset="utf-8")

title Neoauto.com

block links
    link(href="css/fonts.css" media="all" rel="stylesheet" type="text/css")
    link(href="css/grids.css" media="all" rel="stylesheet" type="text/css")

block scripts
    include head-scripts.partial.jade
