extends ../../../../../_base/jade/partials/head.partial.jade

append links
    link(href="css/vertical-grid.css" media="all" rel="stylesheet" type="text/css")

block scripts
    include head-scripts.partial.jade
