!doctype
html
    head
        block head
            include head.partials.jade
    
    body
        // HEADER
        block header
            include render/header.render.jade

        // CONTENT
        block content
            
        // FOOTER
        block footer
            include render/footer.render.jade
